fastapi==0.104.1
flake8==7.0.0
uvicorn==0.24.0
motor==3.3.2
pydantic==2.5.0
pydantic-settings==2.1.0
python-dotenv==1.0.0
passlib==1.7.4
python-jose==3.3.0
bcrypt==4.1.1
cloudinary==1.36.0
cryptography==41.0.7
pymongo==4.6.0
pylint==3.2.2
itsdangerous==2.1.2
python-multipart==0.0.6
email-validator==2.1.0